snippet rtemp "react function component template"
	const ${1}: React.FC<${2}> = () => {
		return <main>${3}</main>;
	};

	export default ${1};

snippet import "import disconstruct module template"
	import {${2}} from '${1}';
