snippet rtemp "react function component template"
	const ${1}: React.FC<${2}> = () => {
		return <main>${3}</main>;
	};

	export default ${1};


snippet vtemp "vue jsx/tsx component template"
  export default defineComponent({
    setup() {
      return () => <main>${1}</main>
    }
  })
