snippet vtemp "vue3 setup typescript template"
<script setup lang="ts"></script>

<template>
	<main>${0}</main>
</template>

<style scoped lang="scss"></style>
endsnippet

snippet log "consloe.log"
console.log(${0})
endsnippet
